################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Front/obj
/Front/bin/Debug/net8.0
/.vs/Formations/FileContentIndex
